/*Especificidad: 001*/ 
header{
    display: flex; 
    justify-content: space-between; 
    align-items: center;  /* Centra verticalmente los elementos */
    padding: 1em;
}

@media (max-width: 465px){  /*caso Moviles*/
    header{
        flex-direction: column;
    }
    /*Especificidad: 002*/
    header h1{
      /*ADVERTENCIA:Se redefine font-size para ajustar al dispositivo*/
      font-size: 0.1em;
    }
    /*Especificidad: 002*/
    header nav{
        flex-wrap: wrap;
        gap: 1em;
    }
  }
  
  @media (max-width: 799px){  /*caso Tablets*/
    /*Especificidad: 002*/
    header h1{
      /*ADVERTENCIA:Se redefine font-size para ajustar al dispositivo*/
      font-size: 0.6em; 
    }
    /*Especificidad: 002*/
    header nav{
        flex-wrap: wrap;
    }
  }