
header{
    display: flex; /* Flexbox, ayuda a la adaptabilidad */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;  /* Centra verticalmente los elementos */
    padding: 1em; /* Espaciado interno */
}

